.body{
	height:200px;
	width: 100%;

}
.body .title{
	height:50px;
	font-size:1.3rem;
	font-weight: bold;
	color: black;
	
}

.body .tabs{
	height:150px;
	padding:0px 20px;
}
.body .tabs{
	
}